In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# reading the dataset
df = pd.read_csv(r'..\data\Mumbai House Prices.csv')
df.shape

(76038, 9)

# Columns Description

## bhk
- **Description**: Number of bedrooms, hall, and kitchen collectively.
- **Data Type**: Integer
- **Example Values**: 1, 2, 3, 4

## type
- **Description**: Type of house.
- **Data Type**: String
- **Possible Values**:
  - apartment
  - villa
  - independent house
  - studio apartment

## locality
- **Description**: Locality of the house.
- **Data Type**: String
- **Example Values**: "Kormangala", "Whitefield", "Indiranagar"

## area
- **Description**: Area of the house in square feet.
- **Data Type**: Float
- **Unit**: sq ft
- **Example Values**: 1000.0, 1500.5, 2000.0

## price
- **Description**: Price of the house.
- **Data Type**: Float
- **Example Values**: 50.0, 100.0, 1.5

## price_unit
- **Description**: Unit of the price.
- **Data Type**: String
- **Possible Values**:
  - L (Lakh)
  - Cr (Crore)
- **Conversion**:
  - 1 Lakh = 100,000 INR
  - 1 Crore = 10,000,000 INR

## region
- **Description**: Region of the house.
- **Data Type**: String
- **Example Values**: "North", "South", "East", "West"

## status
- **Description**: Status of the house.
- **Data Type**: String
- **Possible Values**:
  - Ready to move
  - Under Construction

## age
- **Description**: Age of the house.
- **Data Type**: String
- **Possible Values**:
  - New
  - Resale
  - unknown (placeholder for null values)

# Basic Exploratory Data Analysis

In [8]:
# summary statistics
df.describe()

                bhk          area        price
count  76038.000000  76038.000000  76038.00000
mean       2.015111   1024.536850     29.38227
std        0.922754    670.276165     32.90345
min        1.000000    127.000000      1.00000
25%        1.000000    640.000000      1.75000
50%        2.000000    872.000000      5.50000
75%        3.000000   1179.000000     59.00000
max       10.000000  16000.000000     99.99000

In [ ]:
# dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76038 entries, 0 to 76037
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bhk         76038 non-null  int64
 1   type        76038 non-null  object
 2   locality    76038 non-null  object
 3   area        76038 non-null  int64
 4   price       76038 non-null  float64
 5   price_unit  76038 non-null  object
 6   region      76038 non-null  object
 7   status      76038 non-null  object
 8   age         76038 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.2+ MB